/* Universal Selector */
* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

/* Site Header */
#siteHeader {
  top: 0;
  margin: 0;
  width:100%;
  position: absolute;
  height: 100%;
}

/* Articles Container */
.home> article {
  /*position: absolute; */
  /*top: 105%;*/
  text-align: center;

}

/* Slideshow carousel */
#slideshow {
  position: relative;
  /*top: 0;*/
  height: 100%;
  /*top: 10%;
  height: 90%;*/
  width: 100%;
}

/* Articles Under Slideshow */
.homeImages {
  margin-top: 20px;
}

/* Slideshow */
.carousel>ul>li {
  display:none;
}

/* Li Styling */
ul {
  list-style-type: none;
}

/*  Hiding Desktop Nav */
nav.desktop {
  display: none;
}

/* Hamburger Menu  */
.fa-bars {
  color: green;
  font-size: 3em;
  position: relative;
  z-index: 1;
  padding: 10px;
  width: 100%;
  /* Adding background */
  background-color: rgba(0,0,0,.4);
}

/* Psuedoelement */
.fa-bars::after {
  font-size: .75em;
  margin-left: 2%;
  width: 100%;
  content: 'UnWanted Truth';
}

/* Mobile Nav Bar */
.mobileNav {
  font-size: 2em;
  display: none;
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  animation: fadeInNav .1s ease;
  background-color: gray;
  z-index: 1000;
}

.mobileNav> ul {
  width: 100%;
  /*height: 100%;*/
}

/* Close Button for mobile Nav */
.mobileNav>i {
  position: absolute;
  padding: 10px;
  right: 0;
}

/* Toggling Nav */
.showNav {
  display:block;
}


/* Article Images - Home */
.home>article>img {
  display: block;
  width: 100%;
  margin: 2px 0px;
}

.home {
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  top: 0;
}

/* Footer */
footer {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 20px;
  width: 100%;
  background-color: #222222;
  font-size: 1.2em;
}

/* Overriding global ul styling */
footer>ul {
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 10px;
}

/*footer > ul > li:nth-child(1) {
  position: absolute;
  left: 0;
}*/

/*footer > ul > section {
  position: absolute;
  left: 0;
  height: 100%;
}*/

footer>ul>section>a {
  display: block;
  padding-left: 5px;
}


/* Links active class */
.selectedLink {
  color: white;
  text-decoration: none;
  border-bottom: 2px white solid;
}

a:link {
    text-decoration: none;
}

nav > ul > li:hover {
  background-color: rgba(0,0,0,.5);
}


/* Slide in Effect for mobile Nav */
@keyframes fadeInNav {
  from{left:-100%}
  to{left:0%}
}


/**************
  Stories Styling 
***************/
.storiesList {
  /*padding: 50px;*/
}

/* Individual Article Card */
section.articleCard {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px; 
  color: white;
  text-shadow: 2px 2px black; 
  font-family: 'Mukta Vaani', sans-serif;
}

/* Hiding div */
.cardHover {
  display: none;
  color: black;
  text-align: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.5);
}

/* Article Learn More - Appears on Hover */
section.articleCard:hover .cardHover {
  display:block;
}

.cardContainer {
  /*text-align: center;*/
  margin: 0 auto;
  position: relative;
  width: 50%;
  top: 45%;
}

/* First Story */
section.articleCard:nth-child(1) {
  /*position: absolute;*/
  /*top: 50px;*/
  /*left: 0;*/
  /*background-color: seagreen;*/
  /* Credit: Unsplash - Ming Jun Tan*/
  background: url('/assets/optimized-animorphs.jpg');
}

/* Second Story */
section.articleCard:nth-child(2) {
  /*position: absolute;
  top: 100%;*/
  /*left: 0;*/
  background-color: teal;
}

/* Third Story */
section.articleCard:nth-child(3) {
  /*position: absolute;*/
  /*top: 200%;
  left: 0;*/
  background-color: royalblue;
}

/* Resizing Story Images */
  section.articleCard:nth-child(3), section.articleCard:nth-child(1), section.articleCard:nth-child(2) {
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
  }


/* Tablet Styling */
@media screen and (min-width: 481px) and (max-width: 959px) {
  /* Article Images - Home */
  .home>article>img {
    display: inline-block;
    width: 49.5%;
    margin: .05%;
  }

  /* Resizing Story Images */
  section.articleCard:nth-child(3), section.articleCard:nth-child(1), section.articleCard:nth-child(2) {
   background-size: contain;
   background-repeat: no-repeat;
  }



  /* Footer Styling  */
  footer {
    height: 50px;
  }

  footer > ul > section {
    position: absolute;
    left: 0;
    height: 100%;
  }

  footer>ul>section>li {
    display: inline-block;
    margin: 0px 5px;
    padding: 10px;
    /* Vertically aligning text in Li */
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}


  /******
  Stories Styling - Tablet
  ******/
  /* First Story */
  section.articleCard:nth-child(1) {
    position: absolute;
    top: 50px;
    left: 0;
    /*background-color: seagreen;*/
    background: url('/assets/optimized-animorphs.jpg');
  }

  /* Second Story */
  section.articleCard:nth-child(2) {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: teal;
  }

  /* Third Story */
  section.articleCard:nth-child(3) {
    position: absolute;
    top: 200%;
    left: 0;
    background-color: royalblue;
  }

  /* Resizing Story Images */
  section.articleCard:nth-child(3), section.articleCard:nth-child(1), section.articleCard:nth-child(2) {
    height: 100%;
    background-size: cover;
  }
  

}


/* Desktop Styling */
@media screen and (min-width:960px) {
  /* Showing desktop Nav - Desktop Nav styling */
  nav.desktop {
    display: block;
    background-color: #222222;  
    color: white;
    position: relative;
    /*top: 0;*/
    /*height: 80px;*/
    width: 100%;
    z-index: 100;
  }

  /* Images on Home */
  .home>article>img {
    display: inline-block;
    width:32.5%;
    margin: .05%;
  }

  /* Site Logo */
  nav.desktop > h1 {
    margin-left: 20px;
    font-size: 2em;
  }

  /* Hiding Mobile Nav Icon */
  nav.mobile {
    display: none;
  }

  /* Nav Container */
  .mobileNav {
    display:none;
  }

  .fa-bars {
    display: none;
  }

  ul, h1, ul>li {
    display: inline-block;
  }

  ul {
    position: absolute;
    right: 0;
    margin: 0;
  }
  
  /* Desktop Nav Bar */
  nav > ul >li {
    padding: 20px;
  }

  /* Links */
  a:hover {
    color: rgba(255,255,255, .7);
    transition: all 1s;
  }

/* Footer Desktop */
  footer {
    height: 50px;
  }
  footer > ul > section {
    position: absolute;
    left: 0;
    height: 100%;
  }

  footer>ul>section>li {
    display: inline-block;
    margin: 0px 5px;
    padding: 10px;
    /* Vertically aligning text in Li */
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
  }
  /******
  Stories Styling - Desktop
  ******/
  /* First Story */
  section.articleCard:nth-child(1) {
    position: absolute;
    top: 50px;
    left: 0;
    /*background-color: seagreen;*/
    background: url('/assets/optimized-animorphs.jpg');
  }

  /* Second Story */
  section.articleCard:nth-child(2) {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: teal;
  }

  /* Third Story */
  section.articleCard:nth-child(3) {
    position: absolute;
    top: 200%;
    left: 0;
    background-color: royalblue;
  }

  /* Resizing Story Images */
  section.articleCard:nth-child(3), section.articleCard:nth-child(1), section.articleCard:nth-child(2) {
    height: 100%;
    background-size: cover;
  }

}